# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.classpath
StockWatcher/gwt-unitCache/gwt-unitCache-774c994cc41e44a71d2833e5e14c5ecf8d6d181a-0000015881585F1F
StockWatcher/gwt-unitCache/gwt-unitCache-774c994cc41e44a71d2833e5e14c5ecf8d6d181a-00000158817267A3
/StockWatcher/gwt-unitCache/
/StockWatcher/StockWatcher.iml
/StockWatcher/StockWatcher.launch
/StockWatcher/StockWatcherSuite-dev.launch
/StockWatcher/StockWatcherSuite-prod.launch
/StockWatcher/README.txt
/StockWatcher/.project
/StockWatcher/.idea/
/StockWatcher/war/stockwatcher/
/StockWatcher/war/WEB-INF/
*.iml
.idea/libraries/gwt_user.xml
.idea/compiler.xml
/.idea/
StockWatcher/build.xml
.idea/gwtprojects.iml
/StockWatcher/war/favicon.ico
